<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <div style="height: 300px;width:300px;background-color:azure;border-radius: 20px;">
            <h1 style="text-align: center;">LOGIN FORM</h1>
            <form action="/passive-log" method="POST">
                <input type="email" placeholder="Enter email address" name="mail"> <br>
                <input type="password" placeholder="Enter password" name="pass"> <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>

