<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Over</title>
</head>
<body style="padding-left: 400px;">
    <div style="margin: auto;">
        <img src="{{url_for('static',filename='submit.jpg')}}" alt="" style="width: 400px;height: 400px;">
        <img src="{{url_for('static',filename='ty.png')}}" alt="" style="width: 500px;height: 200px;"> <br>
        <div style="padding-left: 100px;">
            <a href="/logout"><button style="background-color: orange;color:white;padding:10px;border: 15px;">Logout</button></a>
        </div>
    </div>
</body>
</html>